/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.header a {
    text-decoration: none;
}

.header h1 {
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content h2 {
    margin: 10px 0px;
    font-size: 48px;
    font-weight: 900;
 }

 .content h3 {
    /* text-align: center; */
    font-size: 15px;
    font-weight: 300;
    width: 350px;
 }

button {
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    background-color: purple;
    color: white;
  }